a:link{
    color: aliceblue;
}
a:visited {
    color: rgb(252, 247, 249)
} /* 已访问的链接 */

a:active {
    color: #e09ea7;
} /* [选定的链接 */
.move{
    position: relative;
	animation: mymove 5s;
	animation-iteration-count: infinite;
}
@keyframes mymove{
    from,0%{left: -100px;top: 0px;}
    25%{left: 0px;top: 0px;}
    50%{left: 100px;top: 0px;}
    75%{left: 0px;top: 0px;}
    to,100%{left: -100px;top: 0px;}
}


#container1{
    padding: 0px;
    height: 1800px;
    width:25%;
    float:left;
    color: white;
    background-color: #c5c5c5;
}
#container2{
    padding: 0px;
    height: 1800px;
    width:75%;
    float:right;
    text-align:center;
    color: white;
    background-color: #d6cece;
}

#container1 ul>li a{
    text-decoration:none;
    display: inline-block;
    padding: 5px;
    width: 100%;
}

#container1 ul>li a:hover{
    background-color:#c7858e;
}

ul{
    margin:0 auto;
    padding-left: 0;
    font-size: 15px;
}
li{
    list-style-type:none;
    border-bottom: 1px solid;
    padding: 5px;
    height:25%;
    text-align: center;
}


table{
    text-align: center;
    width: 70%;
    min-height: 100%;
    margin: auto;
    border:1px solid #c7858e;
    margin-bottom: 25px;
}
.price::before{
    content: '￥';
}

p{
    text-indent: 2em;
    margin: 5px;
}
p::first-letter{
    font-size: 32px;
}

#bottom{
    text-align: center;
    vertical-align: middle;
    color: white;
    padding: 0;
    background-color: #e09ea7;
}